/* 段评按钮、标题锚点、Alert、Chat、Moments、引用、脚注、代码块 */

@reference "../main.css";

@utility mask-bubble {
  -webkit-mask-box-image-source: url("/assets/images/icons/review-bubble.svg");
  -webkit-mask-box-image-slice: 4 5 4 6;
  -webkit-mask-box-image-width: 4px 5px 4px 6px;
  -webkit-mask-box-image-repeat: stretch;

  mask-border-source: url("/assets/images/icons/review-bubble.svg");
  mask-border-slice: 4 5 4 6;
  mask-border-width: 4px 5px 4px 6px;
  mask-border-repeat: stretch;
}

@utility mask-bubble-fill {
  -webkit-mask-box-image-source: url("/assets/images/icons/review-bubble-fill.svg");
  -webkit-mask-box-image-slice: 4 5 4 6 fill;
  -webkit-mask-box-image-width: 4px 5px 4px 6px;
  -webkit-mask-box-image-repeat: stretch;

  mask-border-source: url("/assets/images/icons/review-bubble-fill.svg");
  mask-border-slice: 4 5 4 6 fill;
  mask-border-width: 4px 5px 4px 6px;
  mask-border-repeat: stretch;
}

@layer utilities {
  /* 段落评论按钮 */
  @layer utilities {
    /* 段落评论按钮 */
    .markdown-content.prose :deep(button.comment-trigger) {
      @apply whitespace-nowrap select-none
    relative overflow-visible
    inline-flex items-center justify-center
    h-4 min-h-0 min-w-6 w-auto ps-1.25 pe-1 ml-1
    transition-[opacity,scale]
    -translate-y-0.5
    text-primary
    z-0

    before:content-['']
    before:absolute before:inset-0
    before:bg-primary
    before:mask-bubble
  
    hover:text-primary-content
    hover:before:mask-bubble-fill
  
    active:scale-80
    active:text-primary-content
    active:before:mask-bubble-fill;
    }
  }

  .markdown-content.prose
    :deep(button.comment-trigger .paragraph-comment-count) {
    @apply whitespace-nowrap
    text-xs leading-none
    font-sans font-bold z-10;
  }

  /* 包裹元素与标题锚点 (.heading-wrapper) */
  .markdown-content.prose :deep(.heading-wrapper) {
    @apply flex items-center gap-2;
  }

  .markdown-content.prose :deep(.heading-wrapper a.header-anchor) {
    @apply badge badge-sm text-base-content hover:badge-primary hover:text-primary-content 
    no-underline opacity-0 translate-y-0.5 group-hover:opacity-100 
    group-focus-within:opacity-100 transition-opacity select-none;
  }

  /* Alert 警告框样式 */
  .markdown-content.prose :deep(details.alert) {
    @apply my-[calc(var(--para-margin-inline)*0.5+var(--para-font-size)*var(--para-line-height)*0.25)]
    px-[calc(var(--para-text-indent)*0.5)]
    py-[calc(var(--para-margin-inline)*0.25+var(--para-font-size)*var(--para-line-height)*0.125)];
  }

  .markdown-content.prose :deep(details.alert > summary.alert-title i) {
    @apply text-[calc(var(--para-font-size)*0.875)];
  }

  .markdown-content.prose :deep(details.alert > summary.alert-title h6) {
    @apply text-[calc(var(--para-font-size)*0.875)]
      text-inherit leading-[calc(var(--para-line-height)*0.875)];
  }

  .markdown-content.prose :deep(details.alert p),
  .markdown-content.prose :deep(details.alert ul li),
  .markdown-content.prose :deep(details.alert ol li) {
    @apply indent-0 text-base-content py-0 mt-2 mb-1
    text-[calc(var(--para-font-size)*0.75)]
    leading-(--para-line-height)
    tracking-[calc(var(--para-letter-spacing)*0.75)];
  }

  .markdown-content.prose :deep(details.alert ul li),
  .markdown-content.prose :deep(details.alert ol li) {
    @apply ms-[calc(var(--para-text-indent)*0.75)]
    md:ms-[calc(var(--para-text-indent)*1.125)];
  }

  /* Chat 聊天样式 */
  .markdown-content.prose :deep(.chat-bar) {
    @apply mb-[calc(var(--para-margin-inline)*0.5+var(--para-font-size)*var(--para-line-height)*0.25)]
    text-[calc(var(--para-font-size)*0.75)]
    leading-[calc(var(--para-line-height)*0.75)]
    tracking-[calc(var(--para-letter-spacing)*0.75)];
  }

  .markdown-content.prose :deep(.chat-info) {
    @apply text-[calc(var(--para-font-size)*0.625)]
    leading-[calc(var(--para-line-height)*0.625)]
    tracking-[calc(var(--para-letter-spacing)*0.625)];
  }

  .markdown-content.prose :deep(.chat-bubble p) {
    @apply text-[calc(var(--para-font-size)*0.75)]
    leading-[calc(var(--para-line-height)*0.75)]
    tracking-[calc(var(--para-letter-spacing)*0.75)];
  }

  .markdown-content.prose :deep(.chat-bubble p code) {
    @apply text-[calc(var(--para-font-size)*0.625)];
  }

  .markdown-content.prose
    :deep(.chat-end .chat-bubble p button.comment-trigger) {
    @apply absolute right-full top-0 
    -translate-x-4 translate-y-0.75 ps-1 pe-1.25
    before:scale-x-[-1] 
    active:before:scale-x-[-80%]
    active:before:scale-y-[80%];
  }

  .markdown-content.prose
    :deep(.chat-start .chat-bubble p button.comment-trigger) {
    @apply absolute left-full top-0 
    translate-x-4 translate-y-0.75;
  }

  .markdown-content.prose :deep(.chat-header) {
    @apply text-[calc(var(--para-font-size)*0.5)]
    leading-[calc(var(--para-line-height)*0.5)]
    tracking-[calc(var(--para-letter-spacing)*0.5)];
  }

  .markdown-content.prose :deep(.chat-footer span) {
    @apply text-[calc(var(--para-font-size)*0.5)]
    leading-[calc(var(--para-line-height)*0.5)]
    tracking-[calc(var(--para-letter-spacing)*0.5)];
  }

  /* Moments 朋友圈样式 */
  .markdown-content.prose :deep(.moments-header .header-title) {
    @apply text-[calc(var(--para-font-size)*0.75)];
  }

  .markdown-content.prose :deep(.moments-header .header-info) {
    @apply text-[calc(var(--para-font-size)*0.5)];
  }

  .markdown-content.prose :deep(.moments-content p) {
    @apply text-[calc(var(--para-font-size)*0.815)];
  }

  .markdown-content.prose :deep(.moments-content blockquote p) {
    @apply text-[calc(var(--para-font-size)*0.75)];
  }

  .markdown-content.prose :deep(.moments-comments p) {
    @apply text-[calc(var(--para-font-size)*0.75)]
    leading-[calc(var(--para-line-height)*0.815)];
  }

  .markdown-content.prose :deep(.moments-comments .user-name) {
    @apply text-[calc(var(--para-font-size)*0.6)];
  }

  .markdown-content.prose :deep(.moments-comments .comment-time) {
    @apply text-[calc(var(--para-font-size)*0.5)];
  }

  /* 引用与强调文本 */
  .markdown-content.prose :deep(blockquote) {
    @apply [quotes:none] font-serif font-extralight
    ps-[calc(var(--para-text-indent)*0.25)]
    md:ps-[calc(var(--para-text-indent)*0.5)];
  }

  .markdown-content.prose :deep(blockquote p),
  .markdown-content.prose :deep(.footnotes p) {
    @apply indent-0 text-justify text-pretty not-italic
    text-[calc(var(--para-font-size)*0.875)];
  }

  .markdown-content.prose :deep(strong) {
    @apply font-bold text-inherit;
  }

  .markdown-content.prose :deep(mark) {
    @apply bg-warning text-warning-content;
  }

  /* 脚注样式 */
  .markdown-content.prose :deep(.footnote-ref) {
    @apply whitespace-nowrap
    before:content-['\2060']
    after:content-['\2060'];
  }

  .markdown-content.prose :deep(.footnote-ref a) {
    @apply badge badge-xs hover:badge-info hover:text-info-content
    indent-0 font-serif text-base-content no-underline
    text-[calc(var(--para-font-size)*0.5)] px-1;
  }

  .markdown-content.prose :deep(.footnote-backref) {
    @apply badge badge-xs hover:badge-info hover:text-info-content
    px-1 text-base-content no-underline select-none
    text-[calc(var(--para-font-size)*0.375)];
  }

  .markdown-content.prose :deep(.footnotes p) {
    @apply font-serif
    text-[calc(var(--para-font-size)*0.75)]
    leading-(--para-line-height)
    mx-0 text-left text-pretty;
  }

  .markdown-content.prose :deep(li.footnote-item::marker) {
    @apply font-serif
    text-[calc(var(--para-font-size)*0.75)] list-decimal;
  }

  .markdown-content.prose :deep(li.footnote-item ul),
  .markdown-content.prose :deep(li.footnote-item ul li) {
    @apply text-[calc(var(--para-font-size)*0.75)];
  }

  /* 代码块样式 */
  .markdown-content.prose :deep(.code-block) {
    @apply my-[calc(var(--para-margin-inline)*0.5+var(--para-font-size)*var(--para-line-height)*0.25)];
  }
}
